body{
    margin: 0;
    padding: 0;
    margin-bottom: 300px;
}
.menu{
    font-family: sans-serif;
    background: #563D7C;
    padding: 14px;
    width: 98%;
    height: 6%;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;/**/
    
}
.menu ul{
    display: inline;
}
li{
    list-style: none;
}
.menu ul li{
    padding: 5px;
    background: #563D7C;
    text-align: center;
    list-style: none;
    float: left;
    color: #CBB9C5;
    font-family: sans-serif;
}
.menu ul li:hover{
    color: #FFFFFF;
}
#icon{
    padding: 3px 10px 3px 10px;
    float: left;
    border:1px solid;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;   
}
#unduh{
    padding: 10px 10px 10px 10px;
    float: right;
    border:1px solid #FFE484;;
    font-size: 15px;
    color: #FFE484;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;
}
#unduh:hover{
    background: #FFE484;
    color:black
}

.judul{
    font-family: sans-serif;
    text-decoration: none;
    color: #563D7C;
    font-size: 70px;
}
.start{
    border:1px solid;
    border-radius: 5px;
    font-family: sans-serif;
    color: #7952B3;
    text-decoration: none;
    padding: 20px 50px;
    font-size: 20px;
    float:left;
}
.start:hover{
    background: #7952B3;
    color: #FFFFFF;
}
.unduhan{
    float: right;
    padding: 20px 50px;
    border: 1px solid;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;
    color:#6C757D;
    font-size: 20px;
}
.unduhan:hover{
    background:#6C757D;
    color:#FFFFFF; 
}
.instal{
    float: left;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    font-family: sans-serif;
    text-decoration: none;
    color:rgb(8, 133, 182);
    font-size: 16px;
}
.instal:hover{
    color: #ffffff;
    background: rgb(8, 133, 182);
}
.artikel{
    font-size: 17px;
}
.logo{ 
    width: 45%;
    float: right;
    

}
.bungkus{
    float: left;
    margin: 100px;
}
.versi{
    color: #758A91;
}
.bungkus2{
    display: flex;
    float: left;
}
.bungkus3{
    display: flex;
    float: left;
    text-decoration: none;
}
.h{
    font-family: sans-serif;
    font-size: 25px;
}
.jarak{
    padding: 10px;
}
.bunguss{
    overflow: hidden;
    width: 100%;
    display: block;
}
